<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
        <th>S.No</th>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th colspan="2">Modify</th>
    </tr>
    {% for row in display %}
    <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
        <td><a href="{{ url_for('edit', id=row[0]) }}">Edit</a></td>
        <td>
            <form method="post" action="{{ url_for('delete', id=row[0]) }}">
                <button type="submit" >Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>